<html>
  <head>
    <link rel="stylesheet" type='text/css' href="/assets/solarized-dark.css">
    <link rel='stylesheet' type='text/css' href='/assets/style.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/editor.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/tree.css'/>
  </head>
  <body>
    <% if @path %>
      <div id="root" data-path="<%= @path %>"></div>
    <% else %>
      <div id="root"></div>
    <% end %>

    <script src='/dist/bundle.js'></script>
  </body>
</html>
